.Header
    display: flex
    height: 50px
  
.fabar
    width: 18px
    height: 3px
    border-radius: 4px
    background-color: white
    margin: 6px 0

.hamburger
    margin-top: auto
    margin-bottom: auto

.boards-bttn div
    padding-right: 10px
    cursor: pointer