.flex
    display: flex
    background-color: #3e4453
    color: white

.flex-column
    flex-direction: column
    
.flex-1
    flex: 1

.justify-center
    justify-content: center

.justify-start
    justify-content: flex-start

.justify-end
    justify-content: flex-end
